body{
    margin: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
/*Estilização do HEADER*/
header{
    background-color:  rgb(100, 39, 15);
    height: 200px;
}
/*Estilização do LOGO*/
.logo{
    width: 190px;
    padding: 10px 0 20px 5%;
    /* padding-left: 5%;
    padding-top: 10px;
    padding-bottom: 20px; */
}
/*Estilização do MENU*/
nav {
    color: white;
    position: absolute;
    top: 10%;
    right: 5%;
    font-size: 30px;
    font-family: cursive;
}
nav li{
    display: inline;
    margin-right: 40px;
}
.divHeader{
    position: relative;
}
.banner{
    width: 100%;
    height: 400px;
}

/*Estilização de TÍTULOS*/
.titulos {
    text-align: center;
}
/*Estilização da sessão SOBRE NÓS*/
.sobre_nos{
    width: 60%;
    text-align: justify;
    line-height: 1.5;
    margin-left: 17%;
    color: #64270f;
}
.img_sobre_nos{
    width: 25%;
    float: left;
    margin-right: 20px;
}
.titulo_sobre_nos{
    clear: left;
}

/*Estilização da sessão NOSSO ESTABELECIMENTO*/
.mapa{
    text-align: center;
    background: linear-gradient(#64270f, #edecf0);
    color: #edecf0;
}

/*EstIlizção da sessão NOSSOS PRODUTOS*/
.nossosprodutos{
    padding: 2%;
    background: linear-gradient( #edecf0, #64270f);
    color: #441806;
}
.div_nossosprodutos{
    width: 70%;
    margin-left: 30%;
}
.img_nossosprodutos{
    width: 15%;
    border-radius: 8px;
    box-shadow: 10px 10px 5px 0px #000000;
    opacity: 1;
    transition: 400ms;
}
.img_nossosprodutos:hover{
    opacity: 0.5s;
}
.lista_nossosprodutos{
    width: 30%;
    display: inline-block;
    vertical-align: top;
    list-style: none;
}
.lista_nossosprodutos li{
    line-height: 2;
}
.lista_nossosprodutos li:before{
    content: "*";
}

/*Estilizção da sessão VÍDEO NOSSOS PRODUTOS*/
.video{
    margin-top: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/*Estilizção da sessão FOOTER*/
footer{
    background: url(../img/rodape.jpg);
    background-size: cover;
    background-position: center;
    background-color: rgba(0, 0, 0, 0.6);
    background-blend-mode: darken;
    padding: 30px 10px 10px 0;
}
footer p{
    font-weight: bold;
    color: white;
    width: 100%;
    text-align: right;
    font-size: 20px;
}
footer i{
    color: white;
}
.logo_footer{
    width: 15%;
    padding-left: 85%;
}
