/*Título*/
.produtos-titulo {
    font-size: 40px;
    font-weight: bold;
    color: #256d13;
    font-family: cursive;
    list-style: none;
}
.produtos-titulo li:before{
    content: "👇";
}
main{
    background: black;
}
/*Container dos cards*/
.container{
    width: 70%;
    margin-right: 50%;
    display: flex;
    flex-wrap: wrap;
    justify-content:left;
    padding-bottom: 20px;
    gap: 20px;
    margin-left: 100px;
}
/*Estilização do card*/
.card{
    background: #b41a1a;
    width: 280px;
    border-radius: 10px;
    text-align: center;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
    transition: transform 0.3s ease-in-out;
}
.card:hover{
    transform: scale(1.05);
}
.card img{
    width: 100%;
    height: 210px;
    object-fit: cover;
    border-radius: 10px;
}

.preco{
    font-size: 18px;
    font-weight: bold;
    color: #41b324;
}

/*Estilização da POP de Detalhes*/
.pop{
    margin: 0;
    background-color: black;
}

.pop img{
    width: 700;
    height: 500;
    padding-left: 7%;
}

.pop h1{
    font-size: 40px;
    font-weight: bold;
    text-align: center;
    color: #b41a1a;
}

.pop p{
    padding: 2% 0 9% 7% ;
    margin: 0;
    white-space: pre-line;
    color: #b41a1a;
}

.categoria {
    width: 100%;
    margin-bottom: 50px;
}

.titulo_categoria {
    color: #256d13;
    font-size: 35px;
    margin-left: 120px;
    margin-bottom: 25px;
}