.contatos-titulo{
    font-size: 42px;
    font-weight: bold;
    color: #256d13;
    font-family:'Times New Roman', Times, serif;
    list-style: none;
    margin-left: 5%;
    margin-bottom: 10px;
}

/*Estiliza a data atual*/
.dataAtual {
    text-align: right;
    font-size: 24px;
    margin-right: 20px;
    color: #256d13;
}

.contatos-item:before{
    content: "🍕 ";
}

.texto-contatos{
    color: #b41a1a;
    font-size: 20px;
    margin-left: 5%;
    margin-bottom: 25px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

form{
    width: 60%;
    margin: 30px auto 40px auto;
    background: #0b0b0b;
    padding: 35px;
    border: 2px solid #b41a1a;
    border-radius: 15px;
    box-shadow: 0 0 20px rgba(57, 243, 11, 0.4);
}

form label, form legend{
    display: block;
    font-size: 20px;
    color: #318f1a;
    margin-bottom: 10px;
}

fieldset{
    border: none;
}

.input-padrao{
    display: block;
    margin-bottom: 20px;
    padding: 14px;
    width: 100%;
    border: none;
    border-radius: 8px;
    font-size: 16px;
}

textarea{
    resize: none;
}

select{
    padding: 8px;
    border-radius: 5px;
}

.chk{
    margin: 20px 8px 20px 0;
}

.enviar{
    width: 100%;
    padding: 15px 0;
    background: #b41a1a;
    color: white;
    font-weight: bold;
    border: none;
    border-radius: 8px;
    transition: 0.3s;
    cursor: pointer;
    font-size: 18px;
}

.enviar:hover{
    background: #256d13;
    transform: scale(1.03);
}

.divRetorno{
    display: none;
    margin: 30px auto;
    width: 60%;
    text-align: center;
}

.divRetorno p{
    font-size: 24px;
    color: white;
}

form label:nth-of-type(1)::before {
    content: "👤 ";
}

form label:nth-of-type(2)::before {
    content: "📧 ";
}

form label:nth-of-type(3)::before {
    content: "📞 ";
}

form label:nth-of-type(4)::before {
    content: "💬 ";
}